.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  float: left;
  padding-top: 7px;
  padding-left: 40px;

}



.App-header {
  background-color: #1D428A;
  height: 55px;
  align-itemns: center;
  display: flex;


}

.App-link {
  color: #61dafb;
}


