.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  float: left;

  padding-left: 40px;

}



.App-header {
  background-color: #282c34;
  height: 55px;
  align-itemns: center;
  display: flex;

}

.App-link {
  color: #61dafb;
}


